@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F5FC;
}

main {
    width: 1150px;
    margin: 0 auto;
    background-color: #F3F5FC; /*MAIN, COLOR #F3F5FC*/
    display: flex;
    justify-content: space-around;
}

section {
    height: 500px;
}

.input-section {
    width: 63%;
    
}


.mensaje {
    padding: 2em 2em;
    border: 0.5px dotted #5c69ad;
    width: 100%;
    height: 450px;
    margin-top: 5%;
    resize: none;
    outline: none;
    background-color: #ebeef7;
    border-radius: 2.5%;
}

.mensaje:hover {
    border: 1.5px dotted #54afbb;
}

.encrypt-buttons {
    margin: -3em 12em;
    position: absolute;

}

.encrypt-buttons p {
    margin: 0 0 0 15%;
    font-size: small;
    color: #495057;
}

.btn-encrypt, .btn-decrypt {
    width: 150px;
    padding: 5px;
    margin-left: 1em;
    border-radius: 18px;
    font-size: 14px;
    color: #ebeef7;
    text-decoration: none;
    border: 0px;
    
}

.btn-encrypt {
    background-color: #394479;
    
}

.btn-decrypt {
    background-color: #828fce;
}

.result-section {
    width: 22%;
}


.card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3%;
    margin: 0 0 0 0;
    width: 100%;
    height: 450px;
    margin-top: 13.5%;
  }
  
  .card:hover {
    box-shadow: 10px 8px 13px 5px rgba(0,0,0,0.5);
  }
  
  .card img.avatar {
    display: block;
    margin: 0 auto;
    /*background-color: aqua;*/
    border-radius: 3% 3% 0 0;
    width: 220px;
    
  }

  .container {
    padding: 8px 10px 0px 10px;
    border-radius: 0 0 5% 5%;
    height: 10em;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding: 2px 2px;
    /* background-color: green; */
  }

  .container {
    color: #495057;
  }
  


  .btn-copy {
    width: 150px;
    margin: 0px 50px 0px 50px;
    padding: 5px;
    border-radius: 18px;
    font-size: 14px;
    color: #ebeef7;
    text-decoration: none;
    border: 0px;
    background-color: #394479;
  }


  @media only screen and (max-width: 1150px) {

    main {
        width: 100%;
    }

    .input-section, .result-section{
        /* display: block; */
        width: 40%;
        
    }

    .card {
        margin-top: 5.5%;
    }

    .encrypt-buttons {

        margin: -2em -0.4em;
    
    }

    .btn-encrypt, .btn-decrypt {
        width: 138px;
        padding: 4px;
        margin-left: 1em;
    }
    

    .btn-copy {
        margin: 0 25%;
        width: 50%;
    }

     
    
  }


  @media only screen and (max-width: 750px) {
    main {
        width: 100%;
        flex-direction: column;
    }

    .input-section, .result-section{
        /* display: block; */
        width: 100%;
        
    }

    .encrypt-buttons {
        width: 100%;
        margin: 0 auto;
    
    }

    .encrypt-buttons p {
        margin: 0 0 0 36%;
    }

    .btn-copy {
        margin: 0 0;
        width: 100%;
    }

    .btn-encrypt, .btn-decrypt {
        padding: 4px;
        margin: 5px 0;
        width: 100%;
    }

     
    
  }

  .btn-encrypt:hover, .btn-decrypt:hover , .btn-copy:hover {
    background-color: #356EA9;
  }

  @media only screen and (max-width: 480px) { 
    .encrypt-buttons {
        width: 100%;
        margin: 0 auto;
    }

    .encrypt-buttons p {
        margin: 0 0 0 20%;
    }
  }
  


  @media only screen and (max-width: 350px) {

    .encrypt-buttons {
        /* margin: -2em -0.4em; */
        width: 100%;
        margin: 0 auto;
    }

    .btn-encrypt, .btn-decrypt {
        /* width: 130px; */
        padding: 4px;
        margin: 5px 0;
        width: 100%;
    }
    

  }